.list {
  list-style: none;
  margin: var(--line-height) 0;
  padding: 0;
}

.list > li + li {
  border-top: 1px solid var(--border-color);
}

.item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding);
  height: calc(var(--line-height) * 2);

  background-color: var(--background);
}

.item:hover {
  text-decoration: none;
  background-image: linear-gradient(to right, var(--primary-background) 320px, var(--background));
  background-color: var(--primary-background);
}

.name {
  display: block;
  height: var(--line-height);
}

.progress {
  height: var(--line-height);
  color: var(--text-color);
  font-size: 80%;
}
