.table {
  --column-width-side: min(300px, 40vw);
  --column-width: min(480px, 60vw);

  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
}

.table, .table tr {
  border: none;
  text-align: left;
  vertical-align: top;
}

.table th, .table td {
  min-width: var(--column-width);
  width: var(--column-width);
  max-width: var(--column-width);
  min-height: var(--line-height);
  padding: var(--padding);
}

.table tbody tr:hover,
.table tbody tr:focus-within {
  --background: var(--primary-background);
  /*--background-alpha: var(--primary-background);*/
  background-color: var(--background);
}

.table tbody {
  animation: moveIn 300ms both;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateY(-1em) scaleY(0.95);
  }
  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateY(0em) scaleY(1);
  }
}

@media (prefers-reduced-motion: reduce) {
  @keyframes moveIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

tr.header {
  position: sticky;
  top: var(--sticky-top);
  z-index: var(--z-index-sticky);
  background-color: var(--background);
}

tr.header th {
  border-bottom: 1px solid var(--border-color);
  vertical-align: bottom;
}

th.side {
  --column-width: var(--column-width-side);
}

tbody th.side {
  position: sticky;
  left: calc(var(--column-width-side) / -2);
  z-index: calc(var(--z-index-sticky) - 1);
  overflow: hidden;

  border-right: 1px solid var(--border-color);
  background-color: var(--background-alpha);
  transition: left .2s;
}

tbody th.side:hover {
  left: 0;
  z-index: var(--z-index-sticky);
  overflow: visible;
  text-shadow: 1px 1px 0 var(--background-alpha),
  -1px 1px 0 var(--background-alpha),
  -1px -1px 0 var(--background-alpha),
  1px -1px 0 var(--background-alpha),
  0 0 2px currentColor;
}

.key1, .key2 {
  position: absolute;
  left: var(--padding);
  top: 0;
  height: 100%;
  padding: var(--padding) 0;
  text-align: right;
  white-space: nowrap;
}

.key1:not(:only-child) {
  left: unset;
  right: 50%;
}

.key2:not(:only-child) {
  left: 50%;
  min-width: 50%;
  text-align: left;
}

.table td {
  position: relative;
  white-space: pre-wrap;
  text-align: left;
}

.table td.value:focus-within {
  z-index: var(--z-index-sticky);
}

.table td.missing {
  background-color: var(--danger-background);
}

.table td.changed {
  background-color: var(--info-background);
}

.changedIndicator {
  color: var(--info);
}

.flexBlock {
  margin: calc(var(--padding) * -1);
  width: calc(100% + var(--padding) * 2);
  padding: var(--padding);
  display: flex;
}

.block {
  margin: calc(var(--padding) * -1);
  width: calc(100% + var(--padding) * 2);
  padding: var(--padding);
  border-width: 0;
}

.blockLeft {
  margin: calc(var(--padding) * -1) var(--padding) calc(var(--padding) * -1) calc(var(--padding) * -1);
  padding: var(--padding);
  border-width: 0 1px 0 0;
}

