.table {
  --column-width-side: min(300px, 40vw);
  --column-width: min(480px, 60vw);

  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  margin: var(--padding) 0;
}

.table, .table tr {
  border: none;
  text-align: left;
  vertical-align: top;
}

.table th, .table td {
  min-width: var(--column-width);
  width: var(--column-width);
  max-width: var(--column-width);
  min-height: var(--line-height);
  padding: var(--padding);
}

.table tbody tr:hover,
.table tbody tr:focus-within {
  --background: var(--primary-background);
  /*--background-alpha: var(--primary-background);*/
  background-color: var(--background);
}

tr.header {
  position: sticky;
  top: var(--sticky-top);
  z-index: var(--z-index-sticky);
  background-color: var(--background-alpha);
}

tr.header th {
  border-bottom: 1px solid var(--border-color);
}

th.side {
  --column-width: var(--column-width-side);
  position: sticky;
  left: calc(var(--column-width-side) / -2);
  z-index: calc(var(--z-index-sticky) - 1);
  border-right: 1px solid var(--border-color);
  background-color: var(--background-alpha);
  transition: left .2s;
}

th.side:hover {
  left: 0;
}

.key {
  --end-width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}

.key1, .key2 {
  position: absolute;
  left: var(--padding);
  top: 0;
  height: 100%;
  padding: var(--padding) 0;
  text-align: right;
}

.key1:not(:only-child) {
  left: unset;
  right: var(--end-width);
}

.key2:not(:only-child) {
  left: calc(100% - var(--end-width));
  min-width: var(--end-width);
  text-align: left;
}

.table th:hover {
  z-index: var(--z-index-sticky);
}

.table th:hover .key {
  overflow: visible;
}

.table th:hover .key2 {
  /*background-color:  var(--background-alpha);*/
  box-shadow: .2rem 0 .2rem .2rem var(--background-alpha);
}

.table td {
  position: relative;
  white-space: pre-wrap;
  text-align: left;
}

.table td.value:focus-within {
  z-index: var(--z-index-sticky);
}

.table td.missing {
  background-color: var(--danger-background);
}

.table td.changed {
  background-color: var(--info-background);
}

.table td select, .table th select,
.table td .editor, .table th .editor {
  margin: calc(var(--padding) * -1);
  border: none;
  padding: var(--padding);
  background-color: transparent;
}

.table td .editor, .table th .editor {
  height: 100%;
}
