:root {
  --line-width: 640px; /* maximum paragraph width */
  --line-height: 1.5rem;
  --padding: 0.75rem;
  --sticky-top: 0rem;

  --scrollbar-width: 0px; /* must be set by javascript on startup */
  --screen-width: calc(100vw - var(--scrollbar-width));

  --z-index-dropdown: 1000;
  --z-index-sticky: 1020;
  --z-index-fixed: 1030;
  --z-index-modal-backdrop: 1040;
  --z-index-offcanvas: 1050;
  --z-index-modal: 1060;
  --z-index-popover: 1070;
  --z-index-tooltip: 1080;

  --background: hsl(0, 0%, 100%);
  --background-alpha: hsla(0, 0%, 100%, 0.8);
  --border-color: hsla(0, 0%, 50%, 0.2);
  --shadow-color: hsla(0, 0%, 0%, 0.3);

  --text-color: hsla(0, 0%, 0%, 0.7);
  --text-color-bold: hsl(0, 0%, 0%);
  --link-color: hsl(240, 60%, 50%);

  /**
   * Here is the naming scheme for the color variables:
   *
   * [color-name]:
   *   a saturated color
   *
   * [color-name]-text:
   *   the color text should have on top of the primary color
   *
   * [color-name]-highlight:
   *   slightly different version of that color used for hover or focus
   *
   * [color-name]-background:
   *   highly transparent version of the color that must not require the text color change.
   *   usage should be combined with "color: inherit", if text is involved.
   *   this color usually needs higher saturation to compensate for the transparency.
   */

  --primary: hsl(240, 40%, 30%);
  --primary-text: hsl(240, 0%, 100%);
  --primary-highlight: hsl(240, 40%, 25%);
  --primary-background: hsla(240, 20%, 80%, .8);

  --danger: hsl(0, 40%, 50%);
  --danger-text: hsl(0, 0%, 100%);
  --danger-highlight: hsl(0, 40%, 45%);
  --danger-background: hsla(0, 40%, 80%, .8);

  --info: hsl(210, 40%, 50%);
  --info-text: hsl(0, 0%, 100%);
  --info-highlight: hsl(210, 40%, 45%);
  --info-background: hsla(210, 40%, 80%, .8);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --background: hsl(240, 6%, 15%);
    --background-alpha: hsla(240, 6%, 15%, 0.9);
    --border-color: hsla(0, 0%, 50%, 0.2);
    --shadow-color: hsla(0, 0%, 0%, 0.3);

    --text-color: hsla(0, 0%, 100%, 0.7);
    --text-color-bold: hsl(0, 0%, 100%);
    --link-color: hsl(240, 60%, 80%);

    --primary-background: hsla(240, 15%, 40%, .8);
    --danger-background: hsla(0, 30%, 40%, .8);
    --info-background: hsla(210, 20%, 40%, .8);

  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* text blocks */

h1, h2, h3, h4, h5, h6 {
  margin: 0 var(--padding) var(--padding);
  padding-top: var(--padding); /* padding does not collapse with margins of other text blocks */
  max-width: var(--line-width);
}

p, dl {
  margin:  var(--padding);
  max-width: var(--line-width);
}

pre {
  margin: 0;
  padding: var(--padding);
}

.centered {
  max-width: calc(var(--line-width) + var(--padding) * 2);
  margin: 0 auto;
}

/* inline elements */

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, textarea, select {
  position: relative;
  background-color: transparent;
  border: 1px solid var(--border-color);
  margin: var(--padding);
  padding: var(--padding);
  color: inherit;
  font: inherit;
  outline: var(--primary-background) solid 0;
  transition: outline-width .2s;
}

input:focus, textarea:focus, select:focus {
  z-index: 1;
  outline: var(--primary-background) solid .3em;
}

input::placeholder, textarea::placeholder {
  color: inherit;
  opacity: .8;
}

